*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body,html{

    background-image: url("milad-fakurian-PGdW_bHDbpI-unsplash.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    

}
:root{

    --purple:rgb(141, 26, 255);
    --border:rgba(255, 255, 255, 0.655);
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 25px;
    border-radius: 20px;
    border: 2px solid var(--border);
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);

}

.heading{

    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 31px;
    color: var(--purple);
    

}

.input_item{

    width: 400px;
    height: 65px;
    margin-bottom: 35px;
    position: relative;
}

.input_item input{

    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border: 2px solid var(--border);
    border-radius: 40px;
    outline: none;
    color: white;
    font-size: 19px;
    padding: 20px 55px 20px 20px;
    
}


.input_item input::placeholder{
    /* color: var(--purple); */
    color: var(--border);
}


.input_item i{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 21px;
   color: var(--purple);
   
}

.remember_forgot{

    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.remember_forgot label{

    color: var(--purple);
    cursor: pointer;
    transition: 0.4s;
    
}

.remember_forgot label:hover{
    
    color: white;
    
}

.remember_forgot input{

    margin-right: 7px;
    accent-color: var(--purple);
}

.remember_forgot a{

    color: var(--purple);
    text-decoration: none;
    transition: .4s;
}
.remember_forgot a:hover{

    color: white;
}

.btn{
    width: 240px;
    height: 65px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);


}
.btn input{

    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    
    background:var(--purple);
    border-radius: 25px;
    font-size: 22px;
    color: white;
    transition: .3s;
    cursor: pointer;

}

.btn input:hover{

    background: white;
    color:var(--purple);
    border-radius: 10px;
    letter-spacing: 1.5px;
}

.circle{

    width: 200px;
    height: 200px;
    border-radius: 360px;
    border: 2px dashed rgb(255, 255, 255);
    position: absolute;
    top: 80px;
    left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: anim linear infinite 4s;
}

@keyframes anim{

    100%{
        rotate: 360deg;
    }
}

.min_circle{

    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 360px;
}
.min_circle1{

    width: 70px;
    height: 70px;
    background: var(--purple);
    border-radius: 360px;
    position: absolute;
    top: -15px;
    left: 130px;
}